.addContainer{
    padding: 33px;
}
.fBtn {
    font-size: 13px;
    color: #292929;
    padding: 11px 44px;
    border: 1px solid #707070;
    border-radius: 12px;
    font-weight: 500;
    display: inline-block;
}
